.content{
    background-color: #dd9221; 
    margin: 40px;
    min-height: 800px;
    width: 90%;
    border: 3px solid #000000;
    text-align: center;
}

.register{
    text-align: left;
    background-color: #ffffff !important;
    min-height: 600px;
    max-width: 500px;
    display: inline-block;
    vertical-align: top;

}

.login{
    text-align: left;
    background-color: #ffffff !important;
    min-height: 400px;
    max-width: 500px;
    display: inline-block;
    vertical-align: top;

}

